<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layout}" >
    <head>
        <title th:text="#{mct}">TODO supply a title</title>
    </head>
    <body>
        <main class="container" layout:fragment="mainContent">
            <!-- Title section page start -->
            <div class="card border-0">
                <div class="card-body">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a th:href="@{/home}"><i class="bi bi-house-door"></i></a>
                            </li>
                            <li class="breadcrumb-item">
                                <a th:href="@{/magasins/index}" th:text="#{menu.magasins}">text</a>
                            </li>
                            <li class="breadcrumb-item active" th:text="#{mct}">Default</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- Title section page end -->

            <div class="container-fluid pt-4 px-4">
                <!--'/magasins/'+${magasin.categorie}+'/store'}-->
                <form th:action="@{'/magasins/'+${magasin.categorie}+'/store'}" method="post" th:object="${magasin}">
                    <div class="col-sm-12">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4" th:text="#{mct}">Floating Label</h6>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="name"
                                       placeholder="Magasin name" th:field="*{name}" />
                                <label for="name" th:text="#{mName}">Name</label>
                                <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error message</span>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="adresse"
                                       placeholder="Magasin adresse" th:field="*{address}" />
                                <label for="adresse" th:text="#{mAddress}">Address</label>
                                <span class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">adresse error message</span>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="phone"
                                       placeholder="Magasin phon" th:field="*{phone}" />
                                <label for="phone" th:text="#{mPhone}">Phone</label>
                                <span class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">phone error message</span>
                            </div>
                            <div class="form-floating mb-3">
                                <select class="form-select" id="categorie" th:field="*{categorie}"
                                        aria-label="Floating label select example" disabled=""
                                        th:selected="${magasin.categorie}" >
                                    <option th:each="c: ${categories}" th:text="${c.name}" th:value="${c.id}"
                                            th:selected="${magasin.categorie}">select magasin</option>
                                </select>
                                <label for="categorie" th:text="#{mCategorie}">text</label>
                                <span class="text-danger" th:if="${#fields.hasErrors('categorie')}" th:errors="*{categorie}">categorie error message</span>
                            </div>
                            <button type="submit" class="btn btn-primary"
                                    sec:authorize="hasRole('ROLE_ADMIN')">
                                <i class="bi bi-plus-circle"></i>
                                <span th:text="#{save}">text</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    </body>
</html>
