<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <title th:text="#{dct}">TODO supply a title</title>
</head>

<body>
    <main class="container" layout:fragment="mainContent">
        <!-- Title section page start -->
        <div class="card border-0">
            <div class="card-body">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/home}"><i class="bi bi-house-door"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a th:href="@{/distributions/indexChef}" th:text="#{menu.distributions}">text</a>
                        </li>
                        <li class="breadcrumb-item active" th:text="#{dct}">Default</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Title section page end -->

        <div class="container-fluid pt-4 px-4">
            <form th:action="@{'/distributions/'+${distribution.id}+'/rapport'}" method="post" th:object="${distribution}">
                <div class="col-sm-12">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4" th:text="#{dct}">Floating Label</h6>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="id" th:field="*{id}" readonly />
                            <label for="id" th:text="Id">Works with selects</label>
                            <span class="text-danger" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">id error
                                message</span>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="lieux" th:field="*{lieux}" readonly />
                            <label for="lieux" th:text="#{dLieux}">Works with selects</label>
                            <span class="text-danger" th:if="${#fields.hasErrors('lieux')}" th:errors="*{lieux}">lieux
                                error message</span>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea type="text" class="form-control" id="rapport" th:field="*{rapport}" style="height: 120px;"></textarea>
                            <label for="rapport" th:text="#{dRepport}">Lieu</label>
                            <span class="text-danger" th:if="${#fields.hasErrors('rapport')}"
                                th:errors="*{rapport}">rapport
                                error message</span>
                        </div>
                        <button type="submit" class="btn btn-primary" id="save" disabled=""
                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_BENEVOLE')">
                            <i class="bi bi-plus-circle"></i>
                            <span th:text="#{save}">text</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </main>

    <div layout:fragment="optional">
        <script>
            (function ($) {
                if ($('#rapport').val() !== null) {
                    $('#save').attr('disabled', false);
                }
            })(jQuery);
        </script>
    </div>
</body>

</html>